
@media (min-width: 1100px) {
    /* HEADER */
    header {
        background-image: url('../images/desktop/image-hero.jpg');

        padding-top: 64px;
        padding-left: 165px;
        padding-right: 165px;
    }

    .header__wrapper {
        gap: 127px;
    }

    .header__burger {
        display: none;
    }

    .header__menu {
        display: flex;
        gap: 32px;

    }

    .header__title {
        padding: 42px 40px;
        width: 650px;
    }

    /* INFO SECTION */
    .infoSection {
        padding: 160px 130px;
        display: block;
    }

    .infoSection__wrapper {
        display: block;
        position: relative;
    }

    .infoSection__image {
        width: 80%;
        height: auto;
    }

    .infoSection__content {
        position: absolute;
        bottom: 0px;
        right: 0px;

        padding-top: 50px;
        padding-left: 50px;
        min-height: 50%;
        width: 60%;

        background-color: var(--white);
        text-align: left;
    }

    /* CREATIONS SECTION */
    .creationsSection {
        padding-left: 160px;
        padding-right: 160px;
        padding-bottom: 182px;
    }

    .creationsSection__top {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    .creationsSection__top__button {
        display: block;
    }

    .creationsSection__grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
    }

    .creationsSection__gridItem {
        height: 450px;
    }

    .creationsSection__gridItem__text {
        bottom: 32px;
        left: 40px;
    }

    .itemEarth {
        background-image: url('../images/desktop/image-deep-earth.jpg');
    }

    .itemNightArcade {
        background-image: url('../images/desktop/image-night-arcade.jpg');
    }

    .itemSoccer {
        background-image: url('../images/desktop/image-soccer-team.jpg');
    }

    .itemTheGrid {
        background-image: url('../images/desktop/image-grid.jpg');
    }

    .itemFromUp {
        background-image: url('../images/desktop/image-from-above.jpg');
    }

    .itemPocket {
        background-image: url('../images/desktop/image-pocket-borealis.jpg');
    }

    .itemCuriosity {
        background-image: url('../images/desktop/image-curiosity.jpg');
    }

    .itemFisheye {
        background-image: url('../images/desktop/image-fisheye.jpg');
    }

    .creationsSection__button {
        display: none;
    }

    footer {
        padding: 45px 165px 32px 165px;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1300px) {
    /* INFO SECTION */
    .infoSection__image {
        width: 70%;
    }

    .infoSection__content {
        padding-top: 96px;
        padding-left: 96px;
        min-height: 60%;
        width: 50%;
    }
}