
@media (min-width: 1100px) {

    header {
        background-image: url('../images/desktop/image-hero.jpg');

        padding-top: 64px;
        padding-left: 165px;
        padding-right: 165px;
    }

    .header__wrapper {
        gap: 127px;
    }

    .header__burger {
        display: none;
    }

    .header__menu {
        display: flex;
        gap: 32px;

    }

    .header__title {
        padding: 42px 40px;
        width: 650px;
    }
}