
/* HEADER */
header {
    height: 650px;

    background-image: url('../images/mobile/image-hero.jpg');
    background-size: cover;
    background-position: center;

    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    gap: 163px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 24px;
}

.header__burger {
    height: 16px;
}

.header__menu {
    display: none;
}

.header__title {
    padding: 18px 25px;

    border: solid var(--white) 2px;
}

/* INFO SECTION */
.infoSection {
    padding: 96px 24px;

    color: var(--black);
}

.infoSection__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.infoSection__image {
    width: 100%;
}

.infoSection__content {
    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    text-align: center;
}

/* CREATIONS SECTION */
.creationsSection {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 86px;

    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.creationsSection__top {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 32px;
}

.creationsSection__top__button {
    display: none;
}

.creationsSection__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
}

.creationsSection__button {
    margin-top: 32px;
}

.btnSeeAll {
    padding: 13px 40.5px;
    border: solid var(--black) 1px;
    text-transform: uppercase;
}

.creationsSection__gridItem {
    height: 120px;
    position: relative;
    background-color: black;

    background-size: cover;
}

.creationsSection__gridItem__gradient {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, var(--gradient1), var(--gradient2));
}

.creationsSection__gridItem__text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--white);
}

/* Note: these iamges have a gradient!! */
.itemEarth {
    background-image: url('../images/mobile/image-deep-earth.jpg');
}

.itemNightArcade {
    background-image: url('../images/mobile/image-night-arcade.jpg');
}

.itemSoccer {
    background-image: url('../images/mobile/image-soccer-team.jpg');
}

.itemTheGrid {
    background-image: url('../images/mobile/image-grid.jpg');
}

.itemFromUp {
    background-image: url('../images/mobile/image-from-above.jpg');
}

.itemPocket {
    background-image: url('../images/mobile/image-pocket-borealis.jpg');
}

.itemCuriosity {
    background-image: url('../images/mobile/image-curiosity.jpg');
}

.itemFisheye {
    background-image: url('../images/mobile/image-fisheye.jpg');
}