
@media (min-width: 750px) {
    /* HEADER */
    header {
        padding-top: 64px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .header__wrapper {
        gap: 130px;
    }

    .header__logo {
        height: 32px;
    }

    .header__burger {
        height: 21.3px;
    }

    .header__title {
        padding: 40px;
    }

    /* INFO SECTION */
    .infoSection {
        padding: 96px 80px;
    }

    .infoSection__image {
        height: 45vw;
        content: url('../images/desktop/image-interactive.jpg');
        object-fit: cover;
        object-position: top;
    }
}